Package: com.moxuan.globalcpuguard
Name: 全局 CPU 守护
Version: 1.0.4
Architecture: iphoneos-arm
Description: Lightweight per-target CPU guard for applications and daemons.
Maintainer: moxuan1121
Author: moxuan1121
Section: Tweaks
Depends: roothide, preferenceloader, mobilesubstrate (>= 0.9.5000)
