Package: com.moxuan.cpuoverloadkiller
Name: CPUOverloadKiller
Version: 1.0.8
Architecture: iphoneos-arm
Description: Global CPU overload watchdog for applications and daemons.
Maintainer: moxuan1121
Author: moxuan1121
Section: Tweaks
Depends: roothide, preferenceloader, mobilesubstrate (>= 0.9.5000)
